
.headerLabel {
    -fx-font-size: 16px;
    -fx-font-family: "DejaVu Sans Mono";
    color: #01c1f3;
}

#headerbar {
    -fx-padding: 18px;
    /*-fx-background-color: teal;*/
    -fx-background-color: #6ED0F7;
}

#avatar .ikonli-font-icon {
    -fx-icon-code: far-user-circle;
    -fx-icon-size: 64px;
    -fx-icon-color: blue;
}

#balance {
    -fx-font-weight: bold;
    -fx-opacity: 0.4;
}
