

#sidebar { 
    /*background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
    -fx-background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    /*-fx-border-color: #E8E8E8 transparent transparent transparent;*/
    /*-fx-background-color: #ece9ec;*/
    /*-fx-background-color: #E8E8E8;*/
    -fx-padding: 18px;
    -fx-background-color: #E8E8E8;
}

#balance {
    -fx-font-weight: bold;
    -fx-opacity: 0.4;
}

.headerLabel {
    -fx-font-size: 16px;
    -fx-font-family: "DejaVu Sans Mono";
    color: #01c1f3;
}

#headerbar {
    -fx-padding: 18px;
    /*-fx-background-color: teal;*/
    -fx-background-color: #6ED0F7;
}

#backButton {
    -fx-font-family: "DejaVu Sans Mono";
    -fx-font-size: 13px;
}

#avatar .ikonli-font-icon {
    -fx-icon-code: far-user-circle;
    -fx-icon-size: 64px;
    -fx-icon-color: blue;
}
